<h1>Orders List</h1>

  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.product.name %></td>
          <td><%= order.quantity %></td>
          <td><%= number_to_currency(order.product.price * order.quantity) %></td>
          <td><%= link_to 'Show', order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Back', products_path %>