<h1>Order Details</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product.name %></td>
        <td><%= order_item.quantity %></td>
        <td><%= number_to_currency(order_item.product.price) %></td>
        <td><%= number_to_currency(order_item.product.price * order_item.quantity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>
