<h1>Order Confirmation</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td><%= item[:product].name %></td>
        <td><%= item[:quantity] %></td>
        <td><%= item[:product].price %></td>
        <td><%= item[:quantity] * item[:product].price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with url: orders_path, method: :post do |form| %>
  <%= form.submit 'Place Order' %>
<% end %>
