<h1>Admin Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td>
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_admin_product_path(product) %>
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_admin_product_path %>
<%= link_to 'Back to Dashboard', admin_dashboard_path %>
