<div class="product-container">
    <h2 class="product-name"><%= @product.name %></h2>
    <p class="product-description"><%= @product.description %></p>
    <p class="product-price"><%= number_to_currency(@product.price) %></p>

    <div class="product-action">
      <%= link_to 'Back', products_path, class: 'btn btn-secondary' %>
    </div>

    <div>
      <%= form_with url: add_to_cart_path(@product.id), method: :post do |form| %>
        <%= form.label :quantity, "Quantity" %>
        <%= form.number_field :quantity, value: 1, min: 1 %>
        <%= form.submit "Add to Cart" %>
      <% end %>
    </div>
</div>