<!DOCTYPE html>
<html>
  <head>
    <title>MyStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Menu</a>
          <div class="dropdown-content">
            <% if admin_signed_in? %>
              <%= link_to 'Dashboard', admin_dashboard_path %>
              <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, data: { 'turbo-method': :delete } %>
            <% elsif user_signed_in? %>
              <%= link_to 'My Orders', user_orders_path(id: current_user.id ) %>
              <%= link_to 'Profile', edit_user_registration_path %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { 'turbo-method': :delete } %>
            <% else %>
              <%= link_to 'Admin Sign In', new_admin_session_path %>
              <%= link_to 'Admin Sign Up', new_admin_registration_path %>
              <%= link_to 'User Sign In', new_user_session_path %>
              <%= link_to 'User Sign Up', new_user_registration_path %>
            <% end %>
          </div>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Cart', cart_path %>
          </li>
        <% end %>
      </ul>
    </nav>


    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

  <%= yield %>
  </body>
</html>
